In [2]:
# !pip install seaborn

In [6]:
# !pip install matplotlib

In [7]:
import seaborn as sns
import matplotlib.pyplot as plt

# Basic Data Visiualization ~ Iris Dataset: 
- Bar graphs
- Pie charts

In [4]:
iris_ds = sns.load_dataset('iris')
iris_ds.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
# view columns
iris_ds['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [ ]:
# Sepal L
sns.barplot(x = iris_ds['sepal_length'] ,
            y = 'fare',
            data = df)
 
# Show the plot
plt.show()