# sql youtube tutoriol

# Course Outline

```
# ---- Setup SQL
# ------- SQL datatypes
# --------- creating tables
# ------------ inserting into tables
# -------------- viewing data in tables 
# ----------------- manipulation of said tables
# -------------------- loading csv into sql
# REPEAT
```