SQL Programming Questions
**********************************************************************
1. Display a list of Sub Counties and their population and areas.

2. Sort the list of districts by total crop area (descending order).

3. Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.

4. Compute the total Maize production per District.

5. Compute the number of Sub counties where Maize is produced and the total Maize production per District.

6. Compute the overall Crop area in all Sub counties where population is over 20000.

7. Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria.
**************************************************************************

In [1]:
# loading and connecting our database
# We will first load the sql extension into our environment
%load_ext sql

%sql sqlite://

'Connected: @None'

In [2]:
# importing our csv file
import csv  # for reading csv files
import pandas as pd # for manipulating csv files

In [4]:
# entering our data into our python code
with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as u:
    Cropyieldpop = pd.read_csv(u, index_col=0, encoding='utf-8')

In [6]:
# We now drop any existing tables and insert our data into the sql database
%sql DROP TABLE if EXISTS Cropyieldpop;
%sql PERSIST Cropyieldpop;

 * sqlite://
Done.
 * sqlite://

'Persisted cropyieldpop'

In [7]:
%%sql 
SELECT * FROM Cropyieldpop LIMIT 10;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114),
 (268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.18584310000006, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139),
 (591, 'KAABONG  EAST', 'KAABONG', 42221, 60801942, 'Y', 160.5885252, 650.1235647999999, 1021.31699, 1004.647534, 15.66040911, 161334.8658, 10181.201),
 (592, 'KAABONG TOWN COUNCIL', 'KAABONG', 38857, 13071455, 'Y', 212.21070299999997, 1229.213444, 175.08052659999998, 156.5038884, 18.52618562, 33211.80017, 22772.636430000002),
 (593, 'KAABONG WEST', 'KAABONG', 41454, 67612362, 'Y', 208.04051840000002, 1056.416068, 967.3367266, 910.2541223, 56.27535518, 189369.7394, 59450.18942),
 (594, 'KALAPATA', 'KAABONG', 99203, 223116860, 'Y', 209.8093519, 633.4231821000001, 2834.349905, 2501.368282, 331.2257949, 524810.4582, 209806.09699999998)]

In [70]:
# 1. Display a list of Sub Counties and their population and areas.
%%sql
SELECT SUBCOUNTY_NAME, POP,Area FROM Cropyieldpop LIMIT 10;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860)]

In [12]:
# 2. Sort the list of districts by total crop area (descending order).
%%sql
SELECT DISTRICT_NAME,Area FROM Cropyieldpop
ORDER BY Area DESC LIMIT 10;

 * sqlite://
Done.

[('MOROTO', 2069554899),
 ('NAPAK', 1794470536),
 ('KAABONG', 1742041261),
 ('KAABONG', 1330019236),
 ('ABIM', 1255760525),
 ('KAABONG', 1199409465),
 ('KAABONG', 1069331387),
 ('KOTIDO', 1067176155),
 ('NAPAK', 1030623258),
 ('NAKAPIRIPIRIT', 928683431)]

In [13]:
# 3. Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.
%%sql
SELECT SUBCOUNTY_NAME,S_Yield_Ha FROM Cropyieldpop
WHERE DISTRICT_NAME="MOROTO"
ORDER BY S_Yield_Ha ASC

 * sqlite://
Done.

[('RUPA', 114.2709211),
 ('SOUTHERN DIVISION', 114.7955689),
 ('NORTHERN DIVISION', 131.9776979),
 ('NADUNGET', 133.6679356),
 ('TAPAC', 155.8699345),
 ('KATIKEKILE', 311.0062152)]

In [22]:
#4. Compute the total Maize production per District.
%%sql
SELECT DISTINCT DISTRICT_NAME,SUM(M_Yield_Ha) FROM Cropyieldpop
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 6248.8498905999995),
 ('AMUDAT', 4723.0656492),
 ('KAABONG', 13850.590123199996),
 ('KOTIDO', 6650.8761263999995),
 ('MOROTO', 2290.2490206),
 ('NAKAPIRIPIRIT', 9352.7375222),
 ('NAPAK', 5777.128384899999)]

In [69]:
#5. Compute the number of Sub counties where Maize is produced and the total Maize production per District.
%%sql
SELECT COUNT(SUBCOUNTY_NAME),COUNT(DISTRICT_NAME),M_Yield_Ha FROM Cropyieldpop
WHERE M_Yield_Ha IS NOT NULL
GROUP BY SUBCOUNTY_NAME

 * sqlite://
Done.

[(1, 1, 1183.0896480000001),
 (1, 1, 1061.151087),
 (1, 1, 1259.1220449999998),
 (1, 1, 1379.0459449999998),
 (1, 1, 861.2084912),
 (1, 1, 873.4522414999999),
 (1, 1, 650.1235647999999),
 (1, 1, 1229.213444),
 (1, 1, 1056.416068),
 (1, 1, 1137.467019),
 (1, 1, 1318.2619359999999),
 (1, 1, 633.4231821000001),
 (1, 1, 714.4757426),
 (1, 1, 1030.064093),
 (1, 1, 1286.723173),
 (1, 1, 1125.685462),
 (1, 1, 546.1402942000001),
 (1, 1, 871.612802),
 (1, 1, 1162.9966869999998),
 (1, 1, 1167.005832),
 (1, 1, 985.1926986),
 (1, 1, 815.2557286),
 (1, 1, 748.8298623),
 (1, 1, 1225.930541),
 (1, 1, 1273.397362),
 (1, 1, 1053.2571679999999),
 (1, 1, 1114.593607),
 (1, 1, 841.8150105000001),
 (1, 1, 795.7332802),
 (1, 1, 1196.08804),
 (1, 1, 507.9070676),
 (1, 1, 1003.30391),
 (1, 1, 1303.403556),
 (1, 1, 497.3532824),
 (1, 1, 1248.955812),
 (1, 1, 962.9581695),
 (1, 1, 1066.204758),
 (1, 1, 591.2703552999999),
 (1, 1, 852.3665784),
 (1, 1, 1257.802716),
 (1, 1, 1325.254872),
 (1, 1, 725.8139301),
 (1, 1, 765.3349254999999),
 (1, 1, 528.6998225),
 (1, 1, 241.53842680000002),
 (1, 1, 779.2250311),
 (1, 1, 1283.859882),
 (1, 1, 1047.180128),
 (1, 1, 699.3343089),
 (1, 1, 1396.9914939999999),
 (1, 1, 0.0),
 (1, 1, 211.96563540000002)]

In [57]:
#6. Compute the overall Crop area in all Sub counties where population is over 20000.
%%sql
SELECT SUBCOUNTY_NAME,Crop_Area_Ha FROM Cropyieldpop
WHERE POP > 2000
ORDER BY SUBCOUNTY_NAME ASC
LIMIT 20;

 * sqlite://
Done.

[('ABIM', 999.3715888),
 ('ABIM TOWN COUNCIL', 788.4628001),
 ('ALEREK', 1266.109868),
 ('AMUDAT', 1651.99842),
 ('AMUDAT TOWN COUNCIL', 60.77208552),
 ('IRIIRI', 5473.443674),
 ('KAABONG  EAST', 1021.31699),
 ('KAABONG TOWN COUNCIL', 175.08052659999998),
 ('KAABONG WEST', 967.3367266),
 ('KACHERI', 7023.533691),
 ('KAKOMONGOLE', 3264.534948),
 ('KALAPATA', 2834.349905),
 ('KAMION', 997.1610206),
 ('KAPEDO', 2365.259806),
 ('KARITA', 2513.27183),
 ('KATHILE', 6890.699234000001),
 ('KATIKEKILE', 145.243518),
 ('KAWALAKOL', 3934.432233),
 ('KOTIDO', 13587.990759999999),
 ('KOTIDO TOWN COUNCIL', 1656.5318550000002)]

In [56]:
#7. Sort the Maize production in descending order by Districts, 
# only taking into account Sub counties where Maize area is larger than Sorghum area, 
# and display the number of Sub counties per district matching that criteria.
%%sql
SELECT SUBCOUNTY_NAME,DISTRICT_NAME,M_Area_Ha,S_Area_Ha	FROM Cropyieldpop
WHERE M_Area_Ha > S_Area_Ha
GROUP BY SUBCOUNTY_NAME
ORDER BY M_Area_Ha desc

 * sqlite://
Done.

[('IRIIRI', 'NAPAK', 3840.6980810000005, 1550.9445699999999),
 ('NAMALU', 'NAKAPIRIPIRIT', 3293.74946, 2197.572106),
 ('NAPORE (KARENGA)', 'KAABONG', 1221.532726, 267.559128),
 ('LOBALANGIT', 'KAABONG', 1005.8773960000001, 879.0023395),
 ('AMUDAT', 'AMUDAT', 972.1742458999998, 676.7832664),
 ('MORUITA', 'NAKAPIRIPIRIT', 959.6711616, 185.2834449),
 ('TAPAC', 'MOROTO', 793.2370943, 315.979223),
 ('KAMION', 'KAABONG', 549.8633367000001, 411.8070005),
 ('NAPAK TOWN COUNCIL', 'NAPAK', 401.1734419, 386.1580327),
 ('KATIKEKILE', 'MOROTO', 103.27756219999999, 30.15704817),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 'NAKAPIRIPIRIT', 27.79576662, 1.3399191590000001),
 ('NORTHERN DIVISION', 'MOROTO', 0.19137495100000002, 0.130940756)]