<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Programming - Calculating Data with SQL

## 1.0 Connecting to our Database

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

## 1.1 Importing Data from CSV files

Datasets used in this notebook:


1.   **Population by Urban Centres, 2009**

> This dataset shows the total population of urban centres in different Kenyan counties. ([Dataset Download](https://drive.google.com/a/moringaschool.com/file/d/1E-Ew-uGxWqO3HJLS0bX7DUAe-c93sdCO/view?usp=sharing))

2.   **Population by Age, Sex and Educational Attainment in 2000 - 2009** 

> The dataset is from IIASA-VID Dataset (W Lutz, A Goujon, S K.C., W Sanderson. 2007. Reconstruction of population by age, sex and level of educational attainment of 120 countries for 1970-2000. Vienna Yearbook of Population Research, vol. 2007, pp 193-235). ([Dataset Download](https://drive.google.com/a/moringaschool.com/file/d/1Kx70v8SqGRJWkDccNkn31JJ5Jnq1OKM3/view?usp=sharing))

3. **2014 - 2015 Government Projects Summary Sorted by Funding Source**

> Based on 2014 - 2015 Estimated Finance allocations for Kenyan Government Projects. ([Dataset Download](https://drive.google.com/a/moringaschool.com/file/d/10Dh9psiaAUo_HyyN6WZK6re0bI4_joUG/view?usp=sharing))

In [ ]:
# Importing the pandas library
# We will use a function read_csv from pandas to read our datasets as shown
#
import pandas as pd

In [ ]:
# Loading our table from the respective CSV files 
with open('urban_centres_dataset.csv','r') as f:
    Urban_Centres = pd.read_csv(f, index_col=0, encoding='utf-8')
# saving the urban center CSV file into a database
%sql DROP TABLE if EXISTS Urban_Centres;
%sql PERSIST Urban_Centres;

# Displaying the first  5 entries 
%sql SELECT * FROM Urban_Centres LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Ahero', 54194, 8362, 45832, 92, '(-0.156472052, 34.922629149999999)', 0),
 ('Archers Post', 6123, 2683, 3440, 106, '(0.64069109999999996, 37.6491483)', 1),
 ('Awendo', 108742, 17909, 90833, 94, '(-0.89444667099999997, 34.536880379999999)', 2),
 ('Baragoi', 7926, 4628, 3298, 91, '(1.786392475, 36.79148971)', 3),
 ('Bissil', 5345, 5345, 0, 87, '(-2.0938024999999998, 36.773857700000001)', 4)]

In [ ]:
# Let's load our households dataset below
with open('households_dataset.csv','r') as f:
    Households = pd.read_csv(f, index_col=0, encoding='utf-8') 

# Save the houshold dataset into a database
%sql DROP TABLE if EXISTS Households;
%sql PERSIST Households;

# Display the first 5 entries from the database
%sql SELECT * FROM Households LIMIT 10;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Mombasa', 'Female', '16.8%', '36.8%', '39.5%', '6.8%', 59858, '(-4.018795613, 39.653975520000003)', 0),
 ('Kwale', 'Female', '10.9%', '25.4%', '46.5%', '17.1%', 40265, '(-4.1398571640000004, 39.15036963)', 1),
 ('Kilifi', 'Female', '12.5%', '26.6%', '46.2%', '14.7%', 64963, '(-3.1731002359999998, 39.683055940000003)', 2),
 ('Tana Rriver', 'Female', '16.9%', '25.6%', '43.3%', '14.2%', 14447, '(-1.557428783, 39.412916930000002)', 3),
 ('Lamu', 'Female', '9.5%', '22.6%', '48.7%', '19.2%', 5515, '(-2.0391399720000001, 40.767880740000003)', 4),
 ('Taita Taveta', 'Female', '7.3%', '19.4%', '49.1%', '24.1%', 23915, '(-3.4337677430000002, 38.417085350000001)', 5),
 ('Marsabit', 'Female', '14.9%', '22.6%', '40.7%', '21.7%', 21594, '(2.9818558570000002, 37.570225430000001)', 6),
 ('Nairobi', 'Female', '17.8%', '39%', '38.3%', '4.8%', 233009, '(-1.2926489320000001, 36.864854780000002)', 7),
 ('Nyandarua', 'Female', '6.8%', '21.1%', '47.9%', '24.2%', 49694, '(-0.32014949999999998, 36.480091790000003)', 8),
 ('Nyeri', 'Female', '0.8%', '14.6%', '49.1%', '35.5%', 71938, '(-0.34295653199999998, 36.953878789999997)', 9)]

In [ ]:
# Let's load our government project dataset below
with open('government_project_summary.csv','r') as f:
    Government_Budget = pd.read_csv(f, index_col=0, encoding='utf-8') 

# Save the governmwnt budget dataset into a database
%sql DROP TABLE if EXISTS Government_Budget;
%sql PERSIST Government_Budget;

# Display the first 5 entries from the database
%sql SELECT * FROM Government_Budget LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(111285239, 609690025, 2100000000, 2709690025, 25162065397, ' Government of Sweden', 0),
 (2009277440, 7443790000, 1436627037, 8880417037, 12567296534, ' United Nations Development Programme (UNDP)', 1),
 (50034000, 0, 1705540000, 1705540000, 4015101726, ' World Food Programme', 2),
 (24267555932, 144199000000, 1700000000, 145899000000, 445033000000, ' African Development Bank/ Fund', 3),
 (1160000000, 2085000000, 600000000, 2685000000, 174293000000, ' European Investment Bank', 4)]

## 1.2 Using the AVG() aggregate function

In [ ]:
# Example 1 
# We can find the average Total_population for urban centres in Kenya 
# by using the AVG() function as shown;
#
%%sql
SELECT AVG(Total_population) FROM Urban_Centres;

 * sqlite://
Done.

[(66232.38202247191,)]

In [ ]:
# Example 2
# What was the average funding provided by donors? 
# 
%%sql
SELECT AVG(Total_-_Grant_Budget_Est_KES) FROM Government_Budget;

 * sqlite://
(sqlite3.OperationalError) no such column: Total_
[SQL: SELECT AVG(Total_-_Grant_Budget_Est_KES) FROM Government_Budget;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
# Example 3
# What is the average no. of female households?
#
%%sql
SELECT AVG(Number_of_households) FROM Households WHERE gender="Female";

 * sqlite://
Done.

[(59974.46808510638,)]

### <font color="green">1.2 Challenges</font>

In [ ]:
# Challenge 1
# Calculate the average core urban population?
#
%%sql
SELECT AVG(Core_urban_population ) FROM Urban_Centres

 * sqlite://
Done.

[(49875.38764044944,)]

In [ ]:
# Challenge 2
# Calculate the average grant for project allocations to the Kenyan government?
# 
%%sql
SELECT AVG("Total_-_Grant_Budget_Est_KES")	 FROM Government_Budget

 * sqlite://
Done.

[(2783716826.775,)]

In [ ]:
# Challenge 3
# Calculate the average number of male households in Kenya
# with an age group of atleast 30% household age group of 25 - 34yrs?
# 
%%sql
SELECT AVG(Number_of_households) FROM Households 
WHERE gender="male" BETWEEN 24 AND 34
GROUP BY "Age_Group_of_Household_head_25-34_%"

 * sqlite://
Done.

[]

## 1.3 Performing Arithmetic Operations

In [ ]:
# Example 1
# Let's do some data cleaning procedures by trying to find out the number 
# of records whose addition of core urban population 
# and peri urban population does not add up to the total urban population.
#
%%sql
SELECT * FROM Urban_Centres WHERE (Core_urban_population + Peri_urban_population) != Total_population;

 * sqlite://
Done.

[]

In [ ]:
# Example 2 
# Which urban centers' difference between the core urban population 
# and the peri urban population was less than 1000?
#
%%sql 
SELECT * FROM Urban_Centres WHERE (Core_urban_population - Peri_urban_population) < 1000
LIMIT 20

 * sqlite://
Done.

[('Ahero', 54194, 8362, 45832, 92, '(-0.156472052, 34.922629149999999)', 0),
 ('Archers Post', 6123, 2683, 3440, 106, '(0.64069109999999996, 37.6491483)', 1),
 ('Awendo', 108742, 17909, 90833, 94, '(-0.89444667099999997, 34.536880379999999)', 2),
 ('Bomet', 83440, 6742, 76698, 98, '(-0.76932068200000003, 35.350992400000003)', 5),
 ('Bondo', 33197, 14478, 18719, 91, '(-0.085401447000000005, 34.274145799999999)', 6),
 ('Butere', 12503, 4448, 8055, 88, '(0.21676480000000001, 34.475354799999998)', 9),
 ('Chogoria', 28530, 6434, 22096, 100, '(-0.22342748200000001, 37.616568299999997)', 11),
 ('Chuka', 43064, 7614, 35450, 96, '(-0.32020847200000002, 37.63234044)', 12),
 ('Homa Bay', 59165, 28593, 30572, 91, '(-0.51342902499999998, 34.46228764)', 29),
 ('Iten/Tambach', 44513, 9012, 35501, 95, '(0.68984582100000003, 35.512455490000001)', 32),
 ('Kandara', 12889, 0, 12889, 93, '(-0.87894349299999996, 36.984498909999999)', 39),
 ('Kangundo-Tala', 218722, 13119, 205603, 98, '(-1.2877069160000001, 37.330792109999997)', 40),
 ('Kapsabet', 87850, 23303, 64547, 98, '(0.22172877399999999, 35.110666889999997)', 42),
 ('Katito', 7840, 3067, 4773, 89, '(-0.26996690000000001, 34.969609400000003)', 47),
 ('Kendu Bay', 16030, 5213, 10817, 92, '(-0.34699610800000003, 34.649178089999999)', 49),
 ('Kericho', 127042, 40813, 86229, 102, '(-0.353571784, 35.28978755)', 50),
 ('Keroka', 49853, 6949, 42904, 90, '(-0.759323847, 34.95244804)', 51),
 ('Kimilili', 94719, 40928, 53791, 94, '(0.79948592500000004, 34.711513910000001)', 58),
 ('Kiminini', 11642, 5523, 6119, 85, '(0.90853975600000003, 34.92532886)', 59),
 ('Kinango', 7682, 4317, 3365, 93, '(-4.1045338190000002, 39.313578219999997)', 60)]

In [ ]:
# Example 3
# Which donors funded projects amounting to more than 50& of the project cost?
# 
%%sql
SELECT Funding_Source  FROM Government_Budget 
WHERE (Total_Project_Cost_KES / Total_Budget_Supported__by_Donors_KES) > 0.5;

 * sqlite://
Done.

[(' Government of Sweden',),
 (' United Nations Development Programme (UNDP)',),
 (' World Food Programme',),
 (' African Development Bank/ Fund',),
 (' European Investment Bank',),
 (' Government of India',),
 (' Government of Italy',),
 ('Government of Kenya',),
 (' Government of United States of America (USAID)',),
 (' Government of Spain',),
 (' Kuwait Fund for Arab Development',),
 (' Arab Bank for Economic Development in Africa (BADEA)',),
 (' Government of South Korea',),
 (' Government of Denmark',),
 (' Abhu Dhabi Fund',),
 (' Government of China',),
 (' Investment Climate Facility (ICF)',),
 (' Government of Finland',),
 (' International Development Association (IDA)',),
 (' Saudi Fund for Development',),
 (' European Development Fund',),
 (' Global Fund',),
 (' Government of Germany (GIZ GERMANY)',),
 (' United Kingdom DFID (UK)',),
 (' Government of Germany (KFW GERMANY)',),
 (' Government of France',),
 (' Government of Japan',),
 (' United Nations Environmental Programme (UNEP)',),
 (' International Fund for Agricultural Development (IFAD)',),
 (' Organization of Petroleum Exporting Countries (OPEC)',),
 (' Food and Agricultural Organization',)]

### <font color="green">1.3 Challenges</font>

In [ ]:
%%sql
SELECT * FROM Government_Budget LIMIT 1;

 * sqlite://
Done.

[(111285239, 609690025, 2100000000, 2709690025, 25162065397, ' Government of Sweden', 0)]

In [61]:
# Challenge 1
# What was the total  grants offered by the'African Development Bank/ Fund' 
# and the 'United Nations Development Programme (UNDP)'
# contribute towards projects underken by the Kenyan government?
# NOTE : Spacing in names, copy names from excel 
%%sql
SELECT SUM("Total_-_Grant_Budget_Est_KES") FROM Government_Budget 
WHERE Funding_Source IN (" African Development Bank/Fund "," United Nations Development Programme (UNDP)");

 * sqlite://
Done.

[(1436627037,)]

In [64]:
# Use IN when ref: to same col, with different rows
%%sql
SELECT SUM("Total_-_Grant_Budget_Est_KES") FROM Government_Budget 
WHERE Funding_Source IN (" African Development Bank/Fund "," United Nations Development Programme (UNDP)");

 * sqlite://
Done.

[(1436627037,)]

In [ ]:
# Challenge 2
# Data Cleaning
# Find the records whose difference of Total urban population 
# and peri urban population does not result to the core urban population.
%%sql
SELECT * FROM Urban_Centres
WHERE (Total_population- Peri_urban_population) !=Core_urban_population

 * sqlite://
Done.

[]

In [ ]:
# Challenge 3 
# Which donors funded projects amounting to less than than 10% of the project cost?
#
%%sql
SELECT Funding_Source FROM Government_Budget 
WHERE Total_Project_Cost_KES < 0.1

 * sqlite://
Done.

[]

## 1.4 Minimum and Maximum

In [ ]:
# Example 1
# Which urban centres had the most core urban population?
#
%%sql 
SELECT Urban_Centre, MAX(Core_urban_population) FROM Urban_Centres;

 * sqlite://
Done.

[('Nairobi', 3109861)]

In [ ]:
# Example 2
# Maximum Example
# Which urban centre had the least total urban population?
# 
%%sql 
SELECT Urban_Centre, MIN(Total_population) FROM Urban_Centres;

 * sqlite://
Done.

[('Sololo', 5035)]

In [ ]:
# Example 3
# Which urban centre with a sex ratio > 90 had the least total urban population?
# 
%%sql 
SELECT Urban_Centre, MIN(Total_population) FROM Urban_Centres WHERE Sex_ratio > 90;

 * sqlite://
Done.

[('Sololo', 5035)]

### <font color="green">1.4 Challenges</font>

In [ ]:
%%sql
SELECT * FROM Government_Budget LIMIT 1

 * sqlite://
Done.

[(111285239, 609690025, 2100000000, 2709690025, 25162065397, ' Government of Sweden', 0)]

In [ ]:
# Challenge 1 
# Which government projects had the most grant funding?
# Hint: "Total_-_Grant_Budget_Est_KES" encolse column with double quotes
#
%%sql
SELECT MAX("Total_-_Grant_Budget_Est_KES") FROM Government_Budget

 * sqlite://
Done.

[(33054201792,)]

In [ ]:
# Challenge 2
# Which government projects had the least loan funding?
# 
%%sql
SELECT MIN("Total_-_Grant_Budget_Est_KES") FROM Government_Budget

 * sqlite://
Done.

[(0,)]

In [ ]:
# Challenge 
# Which governments projects had the least loan funding and had 
# grant funding greater than donor funding?
#
%%sql
SELECT "Total_-_Loan_Budget_Est_KES" FROM Government_Budget 
WHERE "Total_-_Grant_Budget_Est_KES"	> "Total_Budget_Supported__by_Donors_KES"

 * sqlite://
Done.

[]

## 1.5 The Aggregate SUM() function

In [ ]:
# Example 1
# What was the total loan Budget of all government projects?
#
%%sql 
SELECT SUM("Total_-_Loan_Budget_Est_KES") FROM Government_Budget;

 * sqlite://
Done.

[(374828211075,)]

In [ ]:
# Example 2
# What was the total project cost for all government projects where the total 
# loan budget is greater than the total grant budget?
#
%%sql 
SELECT SUM(Total_Project_Cost_KES) FROM Government_Budget 
WHERE "Total_-_Loan_Budget_Est_KES" < "Total_-_Grant_Budget_Est_KES	" ;

 * sqlite://
Done.

[(228201585899569,)]

In [ ]:
# Example 3
# What was the total Core urban population in Kenya?
#
%%sql 
SELECT SUM(Core_urban_population) FROM Urban_Centres;

 * sqlite://
Done.

[(8877819,)]

### <font color="green">1.5 Challenges</font>

In [ ]:
%%sql
SELECT * FROM Urban_Centres LIMIT 5

 * sqlite://
Done.

[('Ahero', 54194, 8362, 45832, 92, '(-0.156472052, 34.922629149999999)', 0),
 ('Archers Post', 6123, 2683, 3440, 106, '(0.64069109999999996, 37.6491483)', 1),
 ('Awendo', 108742, 17909, 90833, 94, '(-0.89444667099999997, 34.536880379999999)', 2),
 ('Baragoi', 7926, 4628, 3298, 91, '(1.786392475, 36.79148971)', 3),
 ('Bissil', 5345, 5345, 0, 87, '(-2.0938024999999998, 36.773857700000001)', 4)]

In [ ]:
# Challenge 1
# What was the total urban centre population?
# 
%%sql 
SELECT SUM(Total_population) FROM Urban_Centres;

 * sqlite://
Done.

[(11789364,)]

In [ ]:
# Challenge 2
# What was the sum of the urban centre populations with
# core urban population less than peri urban population?
# 
%%sql 
SELECT SUM(Total_population) FROM Urban_Centres
WHERE Core_urban_population < Peri_urban_population

 * sqlite://
Done.

[(2506812,)]

In [49]:
%%sql 
SELECT * FROM Households  LIMIT 10

 * sqlite://
Done.

[('Mombasa', 'Female', '16.8%', '36.8%', '39.5%', '6.8%', 59858, '(-4.018795613, 39.653975520000003)', 0),
 ('Kwale', 'Female', '10.9%', '25.4%', '46.5%', '17.1%', 40265, '(-4.1398571640000004, 39.15036963)', 1),
 ('Kilifi', 'Female', '12.5%', '26.6%', '46.2%', '14.7%', 64963, '(-3.1731002359999998, 39.683055940000003)', 2),
 ('Tana Rriver', 'Female', '16.9%', '25.6%', '43.3%', '14.2%', 14447, '(-1.557428783, 39.412916930000002)', 3),
 ('Lamu', 'Female', '9.5%', '22.6%', '48.7%', '19.2%', 5515, '(-2.0391399720000001, 40.767880740000003)', 4),
 ('Taita Taveta', 'Female', '7.3%', '19.4%', '49.1%', '24.1%', 23915, '(-3.4337677430000002, 38.417085350000001)', 5),
 ('Marsabit', 'Female', '14.9%', '22.6%', '40.7%', '21.7%', 21594, '(2.9818558570000002, 37.570225430000001)', 6),
 ('Nairobi', 'Female', '17.8%', '39%', '38.3%', '4.8%', 233009, '(-1.2926489320000001, 36.864854780000002)', 7),
 ('Nyandarua', 'Female', '6.8%', '21.1%', '47.9%', '24.2%', 49694, '(-0.32014949999999998, 36.480091790000003)', 8),
 ('Nyeri', 'Female', '0.8%', '14.6%', '49.1%', '35.5%', 71938, '(-0.34295653199999998, 36.953878789999997)', 9)]

In [52]:
# Challenge 3
# What was the sum of male and female households in Mombasa and Nairobi?
# 
%%sql 
SELECT SUM("Number_of_households") FROM Households
WHERE County IN ("Nairobi" ,"Mombasa")

 * sqlite://
Done.

[(1253716,)]