<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# 1. SQL Programming - Text, Time and Date Strings

## 1.0 Connecting to our Database

In [1]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

Datasets used in this notebook:


1.   **Main Lighting Energy Sources averaged to Districts in 2009**

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1XyZwH35bo99OZIAGHH8LMN48stLwyG-b/view?usp=sharing))

2.   **Kisumu County Energy and Mining Project Implementation Status** 

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1awhsX-tmd_RvM1PxPhhg21GTFuDn34ca/view?usp=sharing))

3. **Population by District**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1ZpbtJ-YAzfAtnQ4k-R_zpEbYRvP5lZhr/view?usp=sharing))

4. **Visitors to Kenya between 1991 to 2014**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1FJs1YU76tRyHEtHU6w62LYQlR8Jz_4d1/view?usp=sharing))

5. **Boston Marathon Results 2016**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1FKhXZemUZuwYSJydUDgukyqJt3ouvKGi/view?usp=sharing))

6. **Kenyan Government Appointments**

>  ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/19m7bydCYOyH8qb68S-Jn-dAX0TrjSHKh/view?usp=sharing))

7. **Tea Production**

>  ([Dataset Download Link](https://drive.google.com/open?id=1Nf3SfkLuxK8oWX2m_RAOILLrpY7pFDaF))

## 1.1 Loading our Datasets

In [2]:
%%sql
CREATE TABLE test;

 * sqlite://
(sqlite3.OperationalError) near ";": syntax error
[SQL: CREATE TABLE test;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [3]:
# Importing Pandas
import pandas as pd

In [4]:
# Loading our lighting dataset  from the respective CSV file 
with open('lighting_dataset.csv','r') as f:
    LightingDataset = pd.read_csv(f, index_col=0, encoding='utf-8')

# load our data into sqlite database
%sql DROP TABLE if EXISTS LightingDataset;
%sql PERSIST LightingDataset;
%sql SELECT * FROM LightingDataset LIMIT 2;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('MERU CENTRAL', 'Urban', None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'EASTERN', 'Meru', 'Table 10b: Urban Households by main type of Lighting Fuel', 'Physical Infrastructure', 'Energy', 37.58330732, 0.001443681, '(0.001443681, 37.58330732)', 0),
 ('KAKAMEGA SOUTH', 'Urban', None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'WESTERN', 'Kakamega', 'Table 10a: Rural Households by main type of Lighting Fuel', 'Physical Infrastructure', 'Energy', 34.7077479, 0.190561619, '(0.190561619, 34.7077479)', 1)]

In [5]:
# Loading our energy mining dataset from the respective CSV file 
# Loading our lighting dataset  from the respective CSV file 
with open('energy_mining_dataset.csv','r') as f:
    energy_mining_dataset = pd.read_csv(f, index_col=0, encoding='utf-8')

# load our data into sqlite database
%sql DROP TABLE if EXISTS energy_mining_dataset;
%sql PERSIST energy_mining_dataset;
%sql SELECT * FROM energy_mining_dataset LIMIT 2;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Kisumu', 'West Kisumu', 'Huma market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 0),
 ('Kisumu', 'North west ksm', 'Daraja Mbili market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100% Complete', 'May-31-2015', 1)]

In [6]:
# Loading our population by districtdataset from the respective CSV file
with open('population_by_district.csv','r') as p:
  population_by_district = pd.read_csv(p, index_col=0,encoding='utf-8')

%sql DROP TABLE if EXISTS population_by_district
%sql PERSIST population_by_district
%sql SELECT * FROM population_by_district LIMIT 2;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('NAIROBI WEST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI WEST, NAIROBI Kenya\n', None, 36.79920201, 0),
 ('NAIROBI EAST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI EAST, NAIROBI Kenya\n', None, 36.967484000000006, 1)]

In [7]:
# Loading our visitors to kenya dataset from the respective CSV file
with open('visitors_to_kenya.csv','r') as v:
  visitors_to_kenya = pd.read_csv(v, index_col=0,encoding='utf-8')

%sql DROP TABLE if EXISTS visitors_to_kenya
%sql PERSIST visitors_to_kenya
%sql SELECT * FROM visitors_to_kenya LIMIT 2;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Arrivals', '03/31/2005 12:00:00 AM', '2005', 264600, 'Visitors on Holiday', 'Q1', 'Actual', 0),
 ('Arrivals', '06/30/1991 12:00:00 AM', '1991', 149400, 'Visitors on Holiday', 'Q2', 'Actual', 1)]

In [8]:
# Loading our marathon dataset from the respective CSV file
with open('marathon_results_2016.csv','r') as m:
  marathon_results_2016 = pd.read_csv(m, index_col=0, encoding='utf-8')

%sql DROP TABLE if EXISTS marathon_results_2016
%sql PERSIST marathon_results_2016
%sql SELECT * FROM marathon_results_2016 LIMIT 2;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('5', 'Hayle, Lemi Berhanu', 21, 'M', 'Addis Ababa', None, 'ETH', None, None, '0:15:47', '0:31:20', '0:47:07', '1:03:14', '1:06:45', '1:19:15', '1:34:17', '1:50:24', '2:05:59', '0:05:04', '2:12:45', '2:12:45', 1, 1, 1),
 ('1', 'Desisa, Lelisa', 26, 'M', 'Ambo', None, 'ETH', None, None, '0:15:47', '0:31:21', '0:47:08', '1:03:14', '1:06:46', '1:19:15', '1:34:17', '1:50:24', '2:05:59', '0:05:06', '2:13:32', '2:13:32', 2, 2, 2)]

In [9]:
# Loading our Kenyan government appointments dataset below
#
with open('government_appointments.csv','r') as g:
  government_appointments = pd.read_csv(g, index_col=0, encoding='utf-8')

%sql DROP TABLE if EXISTS government_appointments
%sql PERSIST government_appointments
%sql SELECT * FROM government_appointments limit 2

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(2827, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Gershom Otachi', 'Chairperson', '04/17/2015 12:00:00 AM', '05/20/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Geothermal Development Company', 36.0, 'Appointed ', 'm', None, None, 0),
 (2828, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Sammy Choge', 'Chairperson', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Chemelil Sugar Company', 36.0, 'Appointed ', 'm', None, None, 1)]

In [10]:
# Loading our Tea dataset below
#
with open('tea_production.csv','r') as t:
  tea_production = pd.read_csv(t,index_col=0,encoding='utf-8')

%sql DROP TABLE IF EXISTS tea_production
%sql PERSIST tea_production
%sql SELECT * FROM tea_production LIMIT 2

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Production', 32.8, '01/25/2003 12:00:00 AM', 0),
 ('Production', 23.6, '02/25/2003 12:00:00 AM', 1)]

## 1.2 Text Strings

In [11]:
# Example 1
# Using the EnergyMining dataset, we can concatenate (combine) 
# the Ward and County columns (i.e attributes)
# into a new column Region. Then only select 5 of those regions
#
%%sql  
SELECT *, WARD || ', ' || COUNTY AS Region
FROM energy_mining_dataset LIMIT 5;

 * sqlite://
Done.

[('Kisumu', 'West Kisumu', 'Huma market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 0, 'West Kisumu, Kisumu'),
 ('Kisumu', 'North west ksm', 'Daraja Mbili market', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100% Complete', 'May-31-2015', 1, 'North west ksm, Kisumu'),
 ('Kisumu', 'West Seme', 'Akado market ', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 2, 'West Seme, Kisumu'),
 ('Kisumu', 'Kobura', 'Korowe market ', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 3, 'Kobura, Kisumu'),
 ('Kisumu', 'Kobura', 'Rabour market ', 'Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100 % Complete', 'May-31-2015', 4, 'Kobura, Kisumu')]

In [12]:
# Example 2
# Using the main lighting dataset, we can also replace the null cells with 0
# as shown below
# 
%%sql 
SELECT PROJECT_NAME, REPLACE("STATUS", '100 % Complete', '100%') AS "Project Status" 
FROM energy_mining_dataset LIMIT 5;

 * sqlite://
Done.

[('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100% Complete'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%'),
 ('Supply, installation & commissioning of 8 No. 30m High mast flood lights ', '100%')]

In [13]:
# Example 3
# Using the Population by District dataset, 
# we change values of County column to lowercase 
# as shown below
#
%%sql
SELECT *, LOWER(County) AS "County Name"
FROM population_by_district LIMIT 5;

 * sqlite://
Done.

[('NAIROBI WEST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI WEST, NAIROBI Kenya\n', None, 36.79920201, 0, 'nairobi'),
 ('NAIROBI EAST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI EAST, NAIROBI Kenya\n', None, 36.967484000000006, 1, 'nairobi'),
 ('NAIROBI NORTH', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI NORTH, NAIROBI Kenya\n', None, 36.8911257, 2, 'nairobi'),
 ('WESTLANDS', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'WESTLANDS, NAIROBI Kenya\n', None, 36.7882561, 3, 'nairobi'),
 ('NYANDARUA NORTH', 'Rural', 106111, 109785, 215896, 52503, 1394.69, 37.64, 109861.0821, 1.034624, 'CENTRAL', 'NYANDARUA NORTH, CENTRAL Kenya\n', None, 36.42343108, 4, 'central')]

### <font color="green">1.2 Challenges</font>

In [14]:
%sql SELECT * FROM government_appointments LIMIT 5

 * sqlite://
Done.

[(2827, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Gershom Otachi', 'Chairperson', '04/17/2015 12:00:00 AM', '05/20/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Geothermal Development Company', 36.0, 'Appointed ', 'm', None, None, 0),
 (2828, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Sammy Choge', 'Chairperson', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Chemelil Sugar Company', 36.0, 'Appointed ', 'm', None, None, 1),
 (2829, '01/01/2015 12:00:00 AM', 'Agricultural Development Corporation Act', 444.0, 'Musa Sirma', 'Member of the Board', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Agricultural Development Corporation', 36.0, 'Appointed ', 'm', None, None, 2),
 (2829, '01/01/2015 12:00:00 AM', 'Agricultural Development Corporation Act', 444.0, 'Susan Akinyi Wakiaga', 'Member of the Board', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Agricultural Development Corporation', 36.0, 'Appointed ', 'f', None, None, 3),
 (2829, '01/01/2015 12:00:00 AM', 'Agricultural Development Corporation Act', 444.0, 'Joseph Miriti Mwereria', 'Member of the Board', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Agricultural Development Corporation', 36.0, 'Appointed ', 'm', None, None, 4)]

In [15]:
# Challenge 1
# Using the Governments appointments dataset, 
# in gender field, let's replace m = 1 and f = 0
# 
%%sql 
SELECT Status,REPLACE(REPLACE(Gender,'m',0),'f',1)
FROM government_appointments LIMIT 5

 * sqlite://
Done.

[('Appointed ', '0'),
 ('Appointed ', '0'),
 ('Appointed ', '0'),
 ('Appointed ', '1'),
 ('Appointed ', '0')]

In [16]:
%%sql
SELECT * FROM government_appointments LIMIT 3

 * sqlite://
Done.

[(2827, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Gershom Otachi', 'Chairperson', '04/17/2015 12:00:00 AM', '05/20/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Geothermal Development Company', 36.0, 'Appointed ', 'm', None, None, 0),
 (2828, '01/01/2015 12:00:00 AM', 'The State Corporations Act', 446.0, 'Sammy Choge', 'Chairperson', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Chemelil Sugar Company', 36.0, 'Appointed ', 'm', None, None, 1),
 (2829, '01/01/2015 12:00:00 AM', 'Agricultural Development Corporation Act', 444.0, 'Musa Sirma', 'Member of the Board', '04/17/2015 12:00:00 AM', '04/17/2015 12:00:00 AM', None, 'Uhuru Kenyatta', 'President', None, 'Agricultural Development Corporation', 36.0, 'Appointed ', 'm', None, None, 2)]

In [17]:
# Challenge 2
# Using the Governments appointments dataset, 
# Let's merge the person appointing field with the appointers position field
#
%%sql  
SELECT Persons_Appointed_ || ', ' || Person_Appointing_ AS Appointed_and_Appointee
FROM government_appointments LIMIT 5;

 * sqlite://
Done.

[('Gershom Otachi, Uhuru Kenyatta',),
 ('Sammy Choge, Uhuru Kenyatta',),
 ('Musa Sirma, Uhuru Kenyatta',),
 ('Susan Akinyi Wakiaga, Uhuru Kenyatta',),
 ('Joseph Miriti Mwereria, Uhuru Kenyatta',)]

In [18]:
%%sql
SELECT * FROM population_by_district LIMIT 3;

 * sqlite://
Done.

[('NAIROBI WEST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI WEST, NAIROBI Kenya\n', None, 36.79920201, 0),
 ('NAIROBI EAST', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI EAST, NAIROBI Kenya\n', None, 36.967484000000006, 1),
 ('NAIROBI NORTH', 'Rural', 0, 0, 0, 0, 0.0, None, None, None, 'NAIROBI', 'NAIROBI NORTH, NAIROBI Kenya\n', None, 36.8911257, 2)]

In [19]:
# Challenge 3
# Using the Population by District dataset, 
# let's change the values of the District column to lowercase 
# and display these values in a new column 
# 
%%sql
SELECT District,LOWER(District) AS "District_Name_lowered"
FROM population_by_district LIMIT 6;

 * sqlite://
Done.

[('BARINGO', 'baringo'),
 ('BARINGO', 'baringo'),
 ('BARINGO NORTH', 'baringo north'),
 ('BARINGO NORTH', 'baringo north'),
 ('BOMET', 'bomet'),
 ('BOMET', 'bomet')]

## 1.3 Time Strings

In [20]:
# Example 1
# You can work with time data just like any other kind of data type 
# when it is in the time format; HH:MM:SS
# Let's answer some questions to see how this works
# Question: Which athletes took time between 15.30 and 15.59 to pass the 5K mark?
# NB: We order the results
#
%%sql 
SELECT Name, "5K" FROM marathon_results_2016
WHERE "5K" > '0:15:30' and "5K" < '0:15:59' ORDER BY "5K" ASC;

 * sqlite://
Done.

[('Tsegay, Yemane Adhane', '0:15:46'),
 ('Korir, Wesley', '0:15:46'),
 ('Lonyangata, Paul', '0:15:46'),
 ('Kitwara, Sammy', '0:15:46'),
 ('Feleke, Getu', '0:15:46'),
 ('Mekonnen, Tsegaye', '0:15:46'),
 ('Kiprop, Jackson', '0:15:46'),
 ('Da Silva, Solonei', '0:15:46'),
 ('Hayle, Lemi Berhanu', '0:15:47'),
 ('Desisa, Lelisa', '0:15:47'),
 ('Chebogut, Stephen', '0:15:47'),
 ('Nageeye, Abdi', '0:15:47'),
 ('Nyasango, Cutbert', '0:15:47'),
 ('Kamijo, Norio', '0:15:47'),
 ('Kipyego, Michael', '0:15:47'),
 ('Sanabria, Alvaro', '0:15:51'),
 ('Okuti, Harbert', '0:15:53'),
 ('Burrell, Ian', '0:15:54'),
 ('Simpson, Jason M.', '0:15:54')]

In [21]:
# Example 2
# Finding the minimum amount of time taken to cover 15K by an athlete during the marathon. 
# Hint: We use a where clause to ignore null/blank values - we will learn how to 
# deal with such values later in the course
# 
%%sql
SELECT MIN("5K") 
FROM marathon_results_2016 
WHERE "5K" > 0;

 * sqlite://
Done.

[('0:15:46',)]

In [22]:
# Example 3
# What was the average time covered by all athletes past the 10K mark?
# 
%%sql
SELECT time(AVG("10K")) 
FROM marathon_results_2016
WHERE "10K" > 0;

 * sqlite://
Done.

[('15:06:58',)]

### <font color="green">1.3 Challenges</font>

In [23]:
%%sql
SELECT * FROM marathon_results_2016 LIMIT 3

 * sqlite://
Done.

[('5', 'Hayle, Lemi Berhanu', 21, 'M', 'Addis Ababa', None, 'ETH', None, None, '0:15:47', '0:31:20', '0:47:07', '1:03:14', '1:06:45', '1:19:15', '1:34:17', '1:50:24', '2:05:59', '0:05:04', '2:12:45', '2:12:45', 1, 1, 1),
 ('1', 'Desisa, Lelisa', 26, 'M', 'Ambo', None, 'ETH', None, None, '0:15:47', '0:31:21', '0:47:08', '1:03:14', '1:06:46', '1:19:15', '1:34:17', '1:50:24', '2:05:59', '0:05:06', '2:13:32', '2:13:32', 2, 2, 2),
 ('6', 'Tsegay, Yemane Adhane', 31, 'M', 'Addis Ababa', None, 'ETH', None, None, '0:15:46', '0:31:20', '0:47:07', '1:03:13', '1:06:44', '1:19:15', '1:34:45', '1:50:48', '2:06:47', '0:05:07', '2:14:02', '2:14:02', 3, 3, 3)]

In [29]:
# Challenge 1
# What were the names and time of the athletes who finished the marathon before 2hrs 15min official time?
# NB: Order your names by time in ascending order
# 
%%sql
SELECT Name,"Official Time" FROM marathon_results_2016
WHERE "Official Time" < '2:15:00'
ORDER BY "Official Time" ASC

 * sqlite://
Done.

[('Haslet, Adrianne K.', '10:30:23'),
 ('Hayle, Lemi Berhanu', '2:12:45'),
 ('Desisa, Lelisa', '2:13:32'),
 ('Tsegay, Yemane Adhane', '2:14:02'),
 ('Korir, Wesley', '2:14:05')]

In [30]:
# Challenge 2
# Which countries came top 3 in completing the marathon before 2hrs 15min?
#
%%sql
SELECT Country, "Official Time" FROM marathon_results_2016
WHERE "Official Time" <  "2:15:00" 
ORDER BY "Official Time" ASC LIMIT 3

 * sqlite://
Done.

[('USA', '10:30:23'), ('ETH', '2:12:45'), ('ETH', '2:13:32')]

In [50]:
# Challenge 3
# How many athletes ran 30K under 1hr 34min? Name these athletes.
# 
%%sql
SELECT Name, "30K" FROM marathon_results_2016
WHERE "30K" < "1:34:00" 
ORDER BY "30K" ASC

 * sqlite://
Done.

[('Vosshall, Peter', '-'),
 ('Zhang, Wei', '-'),
 ('Koeppe, Torsten', '-'),
 ('Watanabe, Yuko', '-'),
 ('Longenberger, Allison', '-'),
 ('Punkka, Veikko A.', '-'),
 ('Muhlestein, Amber', '-'),
 ('Mendoza Briseno, Nayeli M', '-'),
 ('Joseph, Lauren H.', '-'),
 ('Jefferies, Abbee J', '-'),
 ('Shigezumi, Teiko', '-'),
 ('Totten, Mark W.', '-'),
 ('Marion, Kalie', '-'),
 ('Rubenstein, Erica L', '-'),
 ('Weaver, Cathy Lynn L.', '-'),
 ('Checket, Maria', '-'),
 ('Schortmann, Mona', '-'),
 ('Cheng, Xiwen', '-'),
 ('Chung, Myun Duk', '-'),
 ('Misencik, Linda', '-'),
 ('Shelley, Ruth', '-'),
 ('Taffeiren, Pamela J.', '-'),
 ('Greenwood, Doug', '-'),
 ('Chapin, Pam S.', '-')]

## 1.4 Date Strings

In [35]:
# Example 1
# At times we would like to work with the data that is stored in the form of dates
# However, this kind of data can be really difficult to work with if it is not stored
# in datetime Data Type i.e. YYYY-MM-DD HH:MM:SS. It can even be misleading while 
# performing operations to our data. 
# Thus, when we get a dataset such as the one previewed below we will note that the datetime data 
# within the "Date_End_of_Quater" column is not in the datetime Data Type. 
# We will need to fix this;
# 
%sql SELECT * FROM visitors_to_kenya LIMIT 5;

 * sqlite://
Done.

[('Arrivals', '03/31/2005 12:00:00 AM', '2005', 264600, 'Visitors on Holiday', 'Q1', 'Actual', 0),
 ('Arrivals', '06/30/1991 12:00:00 AM', '1991', 149400, 'Visitors on Holiday', 'Q2', 'Actual', 1),
 ('Arrivals', '09/30/1991 12:00:00 AM', '1991', 215900, 'Visitors on Holiday', 'Q3', 'Actual', 2),
 ('Arrivals', '12/31/1991 12:00:00 AM', '1991', 158400, 'Visitors on Holiday', 'Q4', 'Actual', 3),
 ('Arrivals', '03/31/1992 12:00:00 AM', '1992', 155400, 'Visitors on Holiday', 'Q1', 'Actual', 4)]

In [36]:
# Example 2
# In order to convert this kind of data to this format YYYY-MM-DD HH:MM:SS, 
# we would need to use the substring function. 
# An example of how the SQL substring function works is as shown in the SQL command
# in this cell;
# NB: Run this cell several times as you make changes to the numerial parameters 1, 6 
# and then observe the output after running this cell
#
%%sql
SELECT substr('SQL Tutorial', 1, 6) AS ExtractString;

 * sqlite://
Done.

[('SQL Tu',)]

In [37]:
# Example 3
# Let's now select the "Date_End_of_Quater" data in the datetime data type format.
# We will apply the SQL substr function to the respective column
# then select the characters specifying our range then concatenating (combining)
# the selected substrings.
#  
%%sql
SELECT substr("Date_End_of_Quater", 7, 4) 
|| "-" || substr("Date_End_of_Quater", 4, 2) 
|| "-" || substr("Date_End_of_Quater", 1, 2) 
|| " " || substr("Date_End_of_Quater", 12,9)
AS New_Date_End_of_Quarter
FROM KenyanVisitors Limit 5;

 * sqlite://
(sqlite3.OperationalError) no such table: KenyanVisitors
[SQL: SELECT substr("Date_End_of_Quater", 7, 4)
|| "-" || substr("Date_End_of_Quater", 4, 2)
|| "-" || substr("Date_End_of_Quater", 1, 2)
|| " " || substr("Date_End_of_Quater", 12,9)
AS New_Date_End_of_Quarter
FROM KenyanVisitors Limit 5;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [38]:
# Example 4
# Once we are certain that the selected data is in the datetime data type format,
# we can then update the table as shown; Remember we learnt how to update data 
# in our table last week? :) 
# This will allow us to start using that updated table for further investigation
# 
%%sql
UPDATE KenyanVisitors 
set "Date_End_of_Quater" = substr("Date_End_of_Quater", 7, 4) 
|| "-" || substr("Date_End_of_Quater", 4, 2) 
|| "-" || substr("Date_End_of_Quater", 1, 2) 
|| " " || substr("Date_End_of_Quater", 12,9)

 * sqlite://
(sqlite3.OperationalError) no such table: KenyanVisitors
[SQL: UPDATE KenyanVisitors
set "Date_End_of_Quater" = substr("Date_End_of_Quater", 7, 4)
|| "-" || substr("Date_End_of_Quater", 4, 2)
|| "-" || substr("Date_End_of_Quater", 1, 2)
|| " " || substr("Date_End_of_Quater", 12,9)]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [39]:
# Example 5
# We can preview our dataset below so as to note the changes we have made to our 
# "Date_End_of_Quater" column which now looks super :) 
# 
%%sql
SELECT * 
FROM visitors_to_kenya Limit 5;

 * sqlite://
Done.

[('Arrivals', '03/31/2005 12:00:00 AM', '2005', 264600, 'Visitors on Holiday', 'Q1', 'Actual', 0),
 ('Arrivals', '06/30/1991 12:00:00 AM', '1991', 149400, 'Visitors on Holiday', 'Q2', 'Actual', 1),
 ('Arrivals', '09/30/1991 12:00:00 AM', '1991', 215900, 'Visitors on Holiday', 'Q3', 'Actual', 2),
 ('Arrivals', '12/31/1991 12:00:00 AM', '1991', 158400, 'Visitors on Holiday', 'Q4', 'Actual', 3),
 ('Arrivals', '03/31/1992 12:00:00 AM', '1992', 155400, 'Visitors on Holiday', 'Q1', 'Actual', 4)]

In [42]:
# Example 6
# We now continue into investigating our dataset; We answer the following question;
# Which arrivals and depatures happened before 10th June, 1991?  
# Solution:
#
%%sql
SELECT * 
FROM visitors_to_kenya
WHERE "Date_End_of_Quater" < '1991-30-10' LIMIT 5;

 * sqlite://
Done.

[('Arrivals', '03/31/2005 12:00:00 AM', '2005', 264600, 'Visitors on Holiday', 'Q1', 'Actual', 0),
 ('Arrivals', '06/30/1991 12:00:00 AM', '1991', 149400, 'Visitors on Holiday', 'Q2', 'Actual', 1),
 ('Arrivals', '09/30/1991 12:00:00 AM', '1991', 215900, 'Visitors on Holiday', 'Q3', 'Actual', 2),
 ('Arrivals', '12/31/1991 12:00:00 AM', '1991', 158400, 'Visitors on Holiday', 'Q4', 'Actual', 3),
 ('Arrivals', '03/31/1992 12:00:00 AM', '1992', 155400, 'Visitors on Holiday', 'Q1', 'Actual', 4)]

In [43]:
# Example 7
# Which arrivals and depatures happened after 30th June 2000?  
#
%%sql
SELECT * 
FROM visitors_to_kenya
WHERE "Arrival_or_Departure" > '2000-30-05' LIMIT 5;

 * sqlite://
Done.

[('Arrivals', '03/31/2005 12:00:00 AM', '2005', 264600, 'Visitors on Holiday', 'Q1', 'Actual', 0),
 ('Arrivals', '06/30/1991 12:00:00 AM', '1991', 149400, 'Visitors on Holiday', 'Q2', 'Actual', 1),
 ('Arrivals', '09/30/1991 12:00:00 AM', '1991', 215900, 'Visitors on Holiday', 'Q3', 'Actual', 2),
 ('Arrivals', '12/31/1991 12:00:00 AM', '1991', 158400, 'Visitors on Holiday', 'Q4', 'Actual', 3),
 ('Arrivals', '03/31/1992 12:00:00 AM', '1992', 155400, 'Visitors on Holiday', 'Q1', 'Actual', 4)]

### <font color="green">1.4 Challenges</font>

In [44]:
%%sql
SELECT * FROM tea_production limit 3

 * sqlite://
Done.

[('Production', 32.8, '01/25/2003 12:00:00 AM', 0),
 ('Production', 23.6, '02/25/2003 12:00:00 AM', 1),
 ('Production', 15.0, '03/25/2003 12:00:00 AM', 2)]

In [47]:
# Challenge
# Using the tea_production dataset, which three dates had tea production 
# before the date with the most tea production?
#
%%sql
SELECT MAX(Millions_in_KGS_) ,Date FROM tea_production
WHERE

 * sqlite://
Done.

[(46.8, '07/25/2014 12:00:00 AM')]