## SQL SUMMARY TUTORIOL

### CONN. TO DATABASE

* We will first load the sql extension into our environment
* Then connect to our in memory sqlite database
* NB: This database will cease to exist as soon as the database connection is closed.

In [46]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: six in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython-sql) (1.4.31)
Requirement already satisfied: ipython>=1.0 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: prettytable<1 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: jedi>=0.16 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pexpect>4.3 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pygments in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: backcall in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: importlib-metadata in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/eliudluda/anaconda3/envs/ds_ml_env/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.10.0.2)

In [1]:
#python imports
import csv
import pandas as pd
import sqlite3
import sqlalchemy

In [2]:
%load_ext sql
%sql sqlite://

In [3]:
# Upon uploading our file, we will then load our first table from the CSV file as shown 
# We are going to use one of pandas function which is read_csv(). This function helps us to load data from csv files into python. It takes a several arguments/ parameters but we are going to use only a few for now. 
# The first arugument is the path of the csv file. This tells the function where your csv is located and the name of the csv. It can also be a url.
# The second argument, index_col, tells pandas to use the row indexes as the row labels.
with open('/home/eliudluda/Desktop/Data_Science/data/HIV_Prevention_Adolescents_2021.csv','r') as f:
    Hiv = pd.read_csv(f, index_col=0, encoding='utf-8')

In [4]:
# PRE-CLEANING
Hiv.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
"Key indicators in adolescent HIV prevention, 2000-2021",,,,,,,,,,,,,,
ISO3,Country,UNICEF Region,Indicator,Data Source,Year,Sex,Age,DISAGG_CATEGORY,DISAGG,Value,NaN,NaN,NaN,NaN
AFG,Afghanistan,South Asia,"Per cent with comprehensive, correct knowledge...",Demographic and Health Survey 2015,2015,Female,15-19,Age,15-19,0.60,NaN,NaN,NaN,NaN
AFG,Afghanistan,South Asia,"Per cent with comprehensive, correct knowledge...",Demographic and Health Survey 2015,2015,Male,15-19,Age,15-19,4.30,NaN,NaN,NaN,NaN
AFG,Afghanistan,South Asia,"Per cent with comprehensive, correct knowledge...",Demographic and Health Survey 2015,2015,Female,14-Oct,Age,14-Oct,1.00,NaN,NaN,NaN,NaN
AFG,Afghanistan,South Asia,"Per cent with comprehensive, correct knowledge...",Demographic and Health Survey 2015,2015,Female,14-Oct,Education,Higher,5.50,NaN,NaN,NaN,NaN

In [5]:
Hiv.columns = Hiv.iloc[0]

In [6]:
new_hiv = Hiv.iloc[1:,:7]

* We will then drop existing tables similar to the one that we will work with
* in our current sqlite environment. Then push our Interpol data into a new 
* table within our current SQLite Database

In [7]:
%sql DROP TABLE if EXISTS new_hiv;

 * sqlite://
Done.

[]

In [8]:
%sql --persist new_hiv;

 * sqlite://

'Persisted new_hiv'

In [9]:
%%sql 
SELECT * FROM new_hiv
LIMIT 10;

 * sqlite://
Done.

[('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '15-19'),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Male', '15-19'),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct'),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct'),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct'),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct'),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct'),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct'),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct'),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct')]

In [17]:
%%sql
SELECT MAX(Year) as max_yr, MIN(Year) as min_yr FROM new_hiv

 * sqlite://
Done.

[('2020', '1999')]

In [13]:
%%sql
SELECT Country,"UNICEF Region" as UR,Year,Sex,Age FROM new_hiv
WHERE Country = 'Kenya' 
ORDER BY Year DESC
LIMIT 10;

 * sqlite://
Done.

[('Kenya', 'Eastern and Southern Africa', '2014', 'Female', '15-19'),
 ('Kenya', 'Eastern and Southern Africa', '2014', 'Male', '15-19'),
 ('Kenya', 'Eastern and Southern Africa', '2014', 'Female', '14-Oct'),
 ('Kenya', 'Eastern and Southern Africa', '2014', 'Female', '14-Oct'),
 ('Kenya', 'Eastern and Southern Africa', '2014', 'Female', '14-Oct'),
 ('Kenya', 'Eastern and Southern Africa', '2014', 'Female', '14-Oct'),
 ('Kenya', 'Eastern and Southern Africa', '2014', 'Female', '14-Oct'),
 ('Kenya', 'Eastern and Southern Africa', '2014', 'Female', '14-Oct'),
 ('Kenya', 'Eastern and Southern Africa', '2014', 'Female', '14-Oct'),
 ('Kenya', 'Eastern and Southern Africa', '2014', 'Female', '14-Oct')]

In [75]:
%%sql
ALTER TABLE new_hiv ADD population

 * sqlite://
Done.

[]

In [77]:
%%sql
SELECT * FROM new_hiv
LIMIT 10

 * sqlite://
Done.

[('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '15-19', None),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Male', '15-19', None),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct', None),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct', None),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct', None),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct', None),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct', None),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct', None),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct', None),
 ('AFG', 'Afghanistan', 'South Asia', 'Per cent with comprehensive, correct knowledge of HIV', 'Demographic and Health Survey 2015', '2015', 'Female', '14-Oct', None)]

> ---
* Checking datatypes in our database table

In [78]:
%%sql
PRAGMA table_info(new_hiv);

 * sqlite://
Done.

[(0, 'Key indicators in adolescent HIV prevention, 2000-2021', 'TEXT', 0, None, 0),
 (1, 'Country', 'TEXT', 0, None, 0),
 (2, 'UNICEF Region', 'TEXT', 0, None, 0),
 (3, 'Indicator', 'TEXT', 0, None, 0),
 (4, 'Data Source', 'TEXT', 0, None, 0),
 (5, 'Year', 'TEXT', 0, None, 0),
 (6, 'Sex', 'TEXT', 0, None, 0),
 (7, 'Age', 'TEXT', 0, None, 0),
 (8, 'population', '', 0, None, 0)]

In [97]:
%%sql
SELECT DISTINCT Country FROM new_hiv
ORDER BY Country DESC
LIMIT 10

 * sqlite://
Done.

[('Zimbabwe',),
 ('Zambia',),
 ('Yemen',),
 ('Viet Nam',),
 ('Uruguay',),
 ('United Republic of Tanzania',),
 ('Ukraine',),
 ('Uganda',),
 ('Turkmenistan',),
 ('Tunisia',)]

### ...........

In [98]:
countries = %sql SELECT DISTINCT Country FROM new_hiv ORDER BY Country DESC LIMIT 10;

 * sqlite://
Done.

In [99]:
countries

[('Zimbabwe',),
 ('Zambia',),
 ('Yemen',),
 ('Viet Nam',),
 ('Uruguay',),
 ('United Republic of Tanzania',),
 ('Ukraine',),
 ('Uganda',),
 ('Turkmenistan',),
 ('Tunisia',)]